.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1c1c1c;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-links .link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.link.active {
  border-bottom: 2px solid #f39c12;
}
