/* src/styles/SearchBar.css */

.search-container {
  
  background: url('https://images.unsplash.com/photo-1602810313145-df6a250951ec') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  width: 90%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border-radius: 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.search-input {
  flex: 1;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px 0 0 50px;
  outline: none;
  background-color: #fff;
}

.search-button {
  padding: 0 2rem;
  font-size: 1.2rem;
  background-color:orange;
  color: white;
  border: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-button:hover {
  background-color: green;
}
